.Project-Duration {
  margin-top: -12px;
}

.Company-Duration {
  margin-top: 3px;
  padding-bottom: 0px;
}

.Company-Name {
  margin: 0px;
  padding: 0px;
}

.card-header-custom {
  margin-bottom: -22px;
}
