.my-wallet-text {
    margin-top: 6px;
}

.main-block-chain-div {
    padding: 20px;
}

.main-block-chain-div-sub2 {
    width: 100%;
}

.logo-style {
    margin-top: -6px;
    cursor: pointer;
}

.education-text-style {
    letter-spacing: 1px;
}

.white-paper-text-style {
    text-decoration: underline;
    cursor: pointer;
}
