.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-block-hash-color {
    color: #008970;
}

.previous-block-hash-color {
    color: #559ba6;
}

.custom-card-body-text-css {
    margin-bottom: 8px;
}

.custom-card-header {
    margin-bottom: 0;
}